REDIS_HOST=10.0.0.1 # VM's WireGuard IP
REDIS_PORT=6379 # Redis port, default 6379
REDIS_PASSWORD=password # Redis auth password
REDIS_KEY=received:client:info # Specific List key this client's data is pushed to
CLIENT_ID=client_A # human readable identifier for this client, used in reports/logs

LOG_LEVEL=INFO # Logging level: DEBUG, INFO, WARNING, ERROR (default: INFO)
LOG_FILE=sentinel.log # Log file path, uses RotatingFileHandler (default: sentinel.log)